
body{
    font-family: Arial, sans-serif;
    margin: 20%;
    display: flex;
    background-color: #FEFEFF;
    gap: 30px;
}
.sidebar{
    background-color: #173953;
    color : white;
    width: 200px;
    padding: 15px;
}
.daire {
  width: 180px;
  height: 220px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0;
}

.main {
    margin-right: 550px;
    background-color: #FEFEFF;
}
.contact {
    margin: 10px;
}
